{
  "testSystem": true,
  "taxNumber": "12345678",
  "technicalUser": {
    "user": "TECH_USER",
    "password": "TECH_PASS",
    "signatureKey": "SIG_KEY",
    "exchangeKey": "EXCHANGE_KEY"
  },
  "software": {
    "softwareId": "123456789012345678",
    "softwareName": "NavApiClient",
    "softwareOperation": "LOCAL_SOFTWARE",
    "softwareMainVersion": "1.0",
    "softwareDevName": "Example Dev",
    "softwareDevContact": "dev@example.com",
    "softwareDevCountryCode": "HU",
    "softwareDevTaxNumber": "12345678"
  }
}
